
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <br />
    <div class="row">
        <ul data-tabs-position="vertical right" data-role="tabs">
            <li><a href="#MyWork">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Links</a></li>

            <div id="MyWork">
                <h2 style="text-align:center">PAGE IN DEV</h2>
            </div>
        </ul>
        </div>
</div>